.videoDetailsContainer {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(23, 23, 23);
  color: #fff;
}

.leftSideContainer {
  flex: 1 1 70%;

  padding: 1rem 1rem 0;
}
.rightSideContainer {
  width: 100%;
  flex: 1 2 30%;
}

.description {
  white-space: pre-wrap;
}

.expandBtn {
  background: none;
  border: none;
  font-size: 1rem;
  padding: 0;
  color: #fff;
}

iframe {
  overflow: auto;
}

@media screen and (max-width: 48rem) {
  .rightSideContainer {
    flex-basis: 100%;
  }
}
