.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;

  background-color: rgb(33, 33, 33);
  color: #fff;

  position: sticky;
  top: 0;
  z-index: 10;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logoContainer img {
  margin-right: 0.3rem;
  width: 2rem;
}

.logoContainer p {
  font-size: 1.2rem;
}

.submitBtn {
  width: 1.3rem;
  height: auto;
}

.user {
  background-color: #fff;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.inputContainer {
  position: relative;
  display: inline-block;
  width: 30rem;
  height: 3rem;
}

form {
  display: flex;
  align-items: center;
}

input {
  background-color: black;
  color: #fff;
  border: 1px solid rgb(65, 65, 65);
  padding: 0.7rem;
  font-size: 1.2rem;
  width: 100%;
}

input:focus {
  outline: none;
  border-color: rgb(78, 78, 240);
}

button {
  background-color: rgb(62, 62, 62);
  border: none;
  padding: 0;
  cursor: pointer;
  padding: 0.7rem 1.5rem;
}
